body {
    div#root{
      background-color: #222;
      color: #8EE4AF;
    }
  }
button{
    border:1px solid black;
    border-radius: 5px;
    padding:.666rem;
    margin:.06rem;
    background-color: #ffffff;
    color: #222;
}